<ion-content color="primary">
  <form #rform="ngForm" novalidate>
    <ion-card>
      <ion-item class="px-5" lines="none" [class.pp-invalid]="valemail.touched && valemail.invalid">
        <ion-label position="floating" color="tertiary">Email</ion-label>
        <ion-input inputmode="email" id="inputEmail" name="email" [(ngModel)]="email" required #valemail="ngModel">
        </ion-input>
      </ion-item>
      <ion-item class="px-5" lines="none" [class.pp-invalid]="valpass.touched && valpass.invalid">
        <ion-label position="floating" color="tertiary">Password</ion-label>
        <ion-input type="password" id="inputPassword" name="password" [(ngModel)]="password" required
          #valpass="ngModel"></ion-input>
      </ion-item>
      <ion-item lines="none" class="px-5">
        <pp-button [buttontype]="'submit'" [disabled]="rform.untouched || rform.invalid" [color]="'success'"
          slot="end" [text]="'Login'" (click)="login()">
        </pp-button>
        <pp-button [buttontype]="'reset'" [color]="'success'" slot="end" [text]="'Cancel'" (click)="resetUser()">
        </pp-button>
      </ion-item>
      <ion-item *ngIf="loginFailed" lines="none" class="px-5">
        <ion-text color="danger">
          <h4>Login Failed. Please try again.</h4>
        </ion-text>
      </ion-item>
    </ion-card>
  </form>
</ion-content>