################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/pubpalapi/pubpalapi/bin/Debug/netcoreapp2.2
/pubpalapi/pubpalapi/obj
/pubpalapi/.vs/pubpalapi/v16
pubpalapi/.vs/pubpalapi/DesignTimeBuild/.dtbcache
/pubpalapi/pubpalapi/bin
/pubpalapi/pubpalapi/pubpal-8e4e5a6505d6.json
