<nav class="navbar navbar-expand-lg text-white bg-primary">
    <a class="navbar-brand" [routerLink]="['']">
        <fa-icon [icon]="faBeer"></fa-icon>
        PubPal
    </a>
    <div class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto item-right">
            <li class="nav-item" *ngIf="userSvc.user && showuserlinks">
                <div class="btn-group">
                    <button type="button" class="btn bg-primary text-white dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Make Purchase
                    </button>
                    <div class="dropdown-menu bg-primary">
                        <a *ngIf="userSvc.user" class="dropdown-item bg-primary text-white"
                            [routerLink]="['/purchase/options']">Select Seller</a>
                        <a *ngIf="userSvc.user" class="dropdown-item bg-primary text-white"
                            [routerLink]="['/sellersearch']">Search Seller</a>
                    </div>
                </div>
            </li>
            <li class="nav-item" *ngIf="userSvc.user && showuserlinks">
                <a class="nav-link" [routerLink]="['/purchasehistory']">
                    View Purchases
                    <span class="sr-only"></span>
                </a>
            </li>
            <li class="nav-item" *ngIf="sellerSvc.seller && showuserlinks">
                <a class="nav-link" [routerLink]="['/purchasequeue']">
                    View Purchases
                    <span class="sr-only"></span>
                </a>
            </li>
            <li class="nav-item" *ngIf="(userSvc.user || sellerSvc.seller) && showuserlinks">
                <div class="btn-group">
                    <button type="button" class="btn bg-primary text-white dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Welcome {{ userSvc.user ? userSvc.user.firstname : sellerSvc.seller.firstname }}!
                    </button>
                    <div class="dropdown-menu bg-primary">
                        <a *ngIf="userSvc.user" class="dropdown-item bg-primary text-white"
                            [routerLink]="['/user']">Account Info</a>
                        <a *ngIf="sellerSvc.seller" class="dropdown-item bg-primary text-white"
                            [routerLink]="['/seller']">Account Info</a>
                        <a class="dropdown-item bg-primary text-white" [routerLink]="['/changepassword']">Change
                            Password</a>
                        <a *ngIf="sellerSvc.seller" class="dropdown-item bg-primary text-white"
                            [routerLink]="['/purchitem']">Menu Items</a>
                        <a class="dropdown-item bg-primary text-white handCursor" (click)="logout()">Logout</a>
                    </div>
                </div>
            </li>
            <li class="nav-item" *ngIf="!userSvc.user && !sellerSvc.seller && showuserlinks">
                <a class="nav-link" [routerLink]="['/register']">
                    Register
                    <span class="sr-only"></span>
                </a>
            </li>
            <li class="nav-item" *ngIf="!userSvc.user && !sellerSvc.seller && showuserlinks">
                <a class="nav-link handCursor" (click)="loginClick();">
                    Login
                    <span class="sr-only"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>