.item-right {
    right: 0px;
}

.navbar {
    flex-wrap: unset;
    text-align: right;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: lightgray;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 700;
    padding: 0px;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}
