<div class="center-form">
        <div class="flex-container">
            <div>
                <form #passForm="ngForm">
                    <div class="card fullscreen-card">
                        <div class="card-header bg-primary text-white text-uppercase">
                            <h3>
                                Update Password
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="row form-group">
                                <label for="inputPassword" class="col-lg-3 col-form-label font-weight-bold">New
                                    Password</label>
                                <div class="col-lg-9">
                                    <input type="password" class="form-control" id="inputNewPassword" name="newpassword"
                                        placeholder="New Password" [(ngModel)]="newpassword" #entrynew="ngModel" required
                                        [class.field-error]="entrynew.touched && entrynew.invalid">
                                    <div [hidden]="!entrynew.touched || entrynew.valid"
                                        class="field-error-message alert alert-danger text-muted">New Password is required
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="inputPassword" class="col-lg-3 col-form-label font-weight-bold">Confirm
                                    Password</label>
                                <div class="col-lg-9">
                                    <input type="password" class="form-control" id="inputConfirmPassword" name="conpassword"
                                        placeholder="Confirm Password" [(ngModel)]="confirmpassword" #entrycon="ngModel"
                                        required [class.field-error]="entrycon.touched && entrycon.invalid">
                                    <div [hidden]="!entrycon.touched || entrycon.valid"
                                        class="field-error-message alert alert-danger text-muted">Confirm Password is
                                        required
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="passwordUpdateFailed">
                                <div class="col-md-12">
                                    <div class="field-error-message alert alert-danger text-muted">Password could not be
                                        update! Please try again.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-white">
                            <button type="submit" class="btn btn-success ml-2 float-right" (click)="changePasswordHandler()"
                                [disabled]="!passForm.touched || passForm.invalid || newpassword !== confirmpassword">
                                Update
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>