// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

ion-content.centered {
    text-align: center;
    justify-content: center;
}

ion-card-header.centered {
    text-align: center;
    justify-content: center;
}

ion-card-subtitle.centered {
    text-align: center;
    justify-content: center;
}

ion-input {
    input {
        background-color: var(--ion-color-light);
    }
}

input {
    border-bottom: 2px var(--ion-color-medium) solid !important;
}

.pp-invalid {
    ion-input {
        input {
            border-bottom: 3px var(--ion-color-danger) solid !important;
        }
    }

    ion-label {
        color: var(--ion-color-danger);
    }
}

.right-align-input {
    input {
        text-align: right !important;
    }
}

$sizes: 10;

@mixin size-list {
    @for $i from 0 through $sizes {
        .px-#{$i} {
            padding-left: $i*.25rem !important;
            padding-right: $i*.25rem !important;
        }

        .py-#{$i} {
            padding-top: $i*.25rem !important;
            padding-bottom: $i*.25rem !important;
        }

        .pl-#{$i} {
            padding-left: $i*.25rem !important;
        }

        .pt-#{$i} {
            padding-top: $i*.25rem !important;
        }

        .pr-#{$i} {
            padding-right: $i*.25rem !important;
        }

        .pb-#{$i} {
            padding-bottom: $i*.25rem !important;
        }

        .p-#{$i} {
            padding: $i*.25rem !important;
        }

        .mx-#{$i} {
            margin-left: $i*.25rem !important;
            margin-right: $i*.25rem !important;
        }

        .my-#{$i} {
            margin-top: $i*.25rem !important;
            margin-bottom: $i*.25rem !important;
        }

        .ml-#{$i} {
            margin-left: $i*.25rem !important;
        }

        .mt-#{$i} {
            margin-top: $i*.25rem !important;
        }

        .mr-#{$i} {
            margin-right: $i*.25rem !important;
        }

        .mb-#{$i} {
            margin-bottom: $i*.25rem !important;
        }

        .m-#{$i} {
            margin: $i*.25rem !important;
        }
    }
}

@include size-list;

.hand-cursor {
    cursor: pointer;
}

ion-title {
    font-size: 2rem;
}

a {
    color: var(--ion-color-tertiary);
    font-size: 2.5rem;
}

ion-label.label-floating {
    z-index: 3 !important;
}

.logo-list {
    height: 230px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.logo-list-square {
    max-width: 230px;
}

.chip-label {
    font-size: .748rem;
}

.chip-padding {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 0px;
    padding-left: 9px;
}

ion-chip {
    ion-icon[name="close-circle"] {
        margin-left: 0px;
    }
}