<div class="flex-container">
    <div>
        <form #userForm="ngForm">
            <div class="card fullscreen-card">
                <div class="card-header bg-primary text-white text-uppercase">
                    <h3>
                        User Information
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row form-group">
                        <label for="inputEmail" class="col-lg-2 col-form-label font-weight-bold">Email</label>
                        <div class="col-lg-10">
                            <input type="email" class="form-control" id="inputEmail" name="email"
                                placeholder="address@email.com" [(ngModel)]="localUser.email" #entryemail="ngModel" required
                                [class.field-error]="entryemail.touched && entryemail.invalid">
                            <div [hidden]="!entryemail.touched || entryemail.valid"
                                class="field-error-message alert alert-danger text-muted">Email is required</div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="inputPassword" class="col-lg-2 col-form-label font-weight-bold">Password</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="inputPassword" name="password"
                                placeholder="Password" [(ngModel)]="password" #entrypass="ngModel" required
                                [class.field-error]="entrypass.touched && entrypass.invalid">
                            <div [hidden]="!entrypass.touched || entrypass.valid"
                                class="field-error-message alert alert-danger text-muted">Password is required</div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="inputFirstName" class="col-lg-2 col-form-label font-weight-bold">First Name</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputFirstName" name="firstname"
                                placeholder="First Name" [(ngModel)]="localUser.firstname" #entryfirstname="ngModel"
                                required [class.field-error]="entryfirstname.touched && entryfirstname.invalid">
                            <div [hidden]="!entryfirstname.touched || entryfirstname.valid"
                                class="field-error-message alert alert-danger text-muted">First Name is required</div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="inputLastName" class="col-lg-2 col-form-label font-weight-bold">Last Name</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputLastName" name="lastname"
                                placeholder="Last Name" [(ngModel)]="localUser.lastname" #entrylastname="ngModel" required
                                [class.field-error]="entrylastname.touched && entrylastname.invalid">
                            <div [hidden]="!entrylastname.touched || entrylastname.valid"
                                class="field-error-message alert alert-danger text-muted">Last Name is required</div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white">
                    <button type="reset" class="btn btn-success ml-2 float-right"
                        (click)="localUser._id ? restoreUser() : resetUser()">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-success ml-2 float-right"
                        (click)="updateUser()"
                        [disabled]="!userForm.touched || userForm.invalid">
                        Update
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>