/* You can add global styles to this file, and also import other style files */

body {
    overflow-x: hidden;
}

.fullscreen-card > .card-body {
    height: 80vh;
}

.fullscreen-card {
    max-height: 90vh;
}

.field-error {
    border-bottom: 3px solid red;
}

.field-error-message {
    font-style: italic;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 0px;
}

input.form-control {
    border-radius: 0px !important;
}

.handCursor {
    cursor: pointer;
}

.modal-no-padding .modal-body {
    padding: 0px;
}

.pubpal-modal.loading-modal {
    top: 25%;
}

.radio-group {
    display: flex;
    flex-direction: row;
}

.radio-group > span {
    flex: 1 0 0px;
}
