/* You can add global styles to this file, and also import other style files */

body {
    overflow-x: hidden;
}

.fullscreen-card>.card-body {
    height: 75vh;
    overflow-y: auto;
}

.fullscreen-card {
    max-height: 90vh;
}

.field-error {
    border-bottom: 3px solid red;
}

.field-error-message {
    font-style: italic;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 0px;
}

input.form-control {
    border-radius: 0px !important;
}

.handCursor {
    cursor: pointer;
}

.modal-no-padding .modal-body {
    padding: 0px;
}

.pubpal-modal.loading-modal {
    top: 25%;
}

.radio-group {
    display: flex;
    flex-direction: row;
}

.radio-group>span {
    flex: 1 0 0px;
}

.userselection .checkbox-container>fa-icon {
    font-size: 1.5em;
}

.user-selection .checkbox-container>.checkbox-content {
    padding-left: 10px;
}

.center-form {
    .col-form-label {
        font-size: 1.2rem;
    }

    .flex-container {
        display: flex;
        justify-content: center;
    }

    .flex-container>div {
        max-width: 1000px;
        width: 100vh;
    }
}

.modal-no-padding-body .modal-body {
    padding: 0px;
}

textarea {
    overflow-y: auto;
    resize: none;
}