ion-segment-button {
    ion-label {
        color: var(--ion-color-tertiary);
    }

    ion-badge {
        color: var(--ion-color-tertiary);
    }
}

ion-segment-button.segment-button-checked {
    background-color: var(--ion-color-light);
    
    ion-label {
        color: var(--ion-color-primary);
    }

    ion-badge {
        color: var(--ion-color-light);
    }
}
