<div class="center-form">
    <div class="flex-container">
        <div>
            <div class="card fullscreen-card">
                <div class="card-header bg-primary text-white text-uppercase">
                    <h3>
                        Search for a Seller
                    </h3>
                </div>
                <div class="card-body">
                    <app-canceltextbox [clearonaccept]="false" [focusonaccept]="false"
                        [placeholderText]="'Search by seller tags'" (acceptTriggered)="searchSeller($event)">
                    </app-canceltextbox>
                    <div class="row" *ngFor="let seller of sellers">
                        <div class="col-lg-2">
                            <h5>
                                <a [routerLink]="['/purchase/options', seller._id]">{{ seller.place.name }}</a>
                            </h5>
                        </div>
                        <div class="col-lg-4">
                            {{ seller.place.address.address }} {{ seller.place.address.city }},
                            {{ seller.place.address.state }} {{ seller.place.address.zip }}
                        </div>
                        <div class="col-lg-6">
                            <span class="tag-description" *ngFor="let tag of seller.tags">
                                {{ tag.tag }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white">
                </div>
            </div>
        </div>
    </div>
</div>