<div class="center-form">
    <div class="flex-container">
        <div>
            <div class="card fullscreen-card">
                <div class="card-header bg-primary text-white text-uppercase">
                    <h3>
                        Search for a Seller
                    </h3>
                </div>
                <div class="card-body">
                    <app-canceltextbox [clearonaccept]="false" [focusonaccept]="false"
                        [placeholderText]="'Search by seller tags'" (acceptTriggered)="searchSeller($event)">
                    </app-canceltextbox>
                    <div class="row" *ngFor="let seller of sellers">
                        <div class="col-lg-12">
                            {{ seller.place.name }}
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white">
                </div>
            </div>
        </div>
    </div>
</div>