<ion-content *ngIf="sellers" id="userContent" color="primary">
  <ion-grid>
    <ion-row>
      <ion-col size="9">
        <ion-item color="primary" lines="none">
          <ion-label position="floating" color="tertiary">Pub Tags</ion-label>
          <ion-input inputmode="text" id="inputtags" name="tags" [(ngModel)]="tagsSearch"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col class="action-buttons">
        <ion-button color="primary" (click)="loadData()" class="mr-4 mt-2 ion-float-right">
          <ion-icon color="light" name="locate" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button color="danger" [disabled]="!tagsSearch" (click)="tagsSearch = ''; loadData();" class="mr-4 mt-2 ion-float-right">
          <ion-icon name="close" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button color="primary" [disabled]="!tagsSearch" (click)="loadDataByTagSearch()" class="mr-4 mt-2 ion-float-right">
          <ion-icon color="light" name="search" slot="icon-only" ></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ng-template ngFor [ngForOf]="sellers" let-seller>
        <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <ion-card color="primary">
            <ion-card-header class="ion-no-padding centered">
              <ng-template #favoriteSeller>
                <ion-button color="medium" (click)="toggleFavorite(seller._id)" class="mr-4 mt-2 ion-float-right">
                  <ion-icon name="star" slot="icon-only"></ion-icon>
                </ion-button>
              </ng-template>
              <ng-template #notFavoriteSeller>
                <ion-button color="medium" fill="outline" (click)="toggleFavorite(seller._id)" class="mr-4 mt-2 ion-float-right">
                  <ion-icon color="medium" name="star-outline" slot="icon-only"></ion-icon>
                </ion-button>
              </ng-template>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ng-container [ngTemplateOutlet]="isSellerFavorite(seller._id) ? favoriteSeller : notFavoriteSeller">
                    </ng-container>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ng-template #noImage>
                <img src="../../../../assets/imgs/no_image_available.png" class="logo-list logo-list-square" [attr.alt]="seller.place.name" (click)="openSellerDetails(seller)" />
              </ng-template>
              <ng-template #customImage>
                <img [src]="seller.place.imageurl" class="logo-list" [attr.alt]="seller.place.name" (click)="openSellerDetails(seller)" />
              </ng-template>
              <ng-container [ngTemplateOutlet]="seller.place.imageurl ? customImage : noImage"></ng-container>
              <ion-card-subtitle color="primary" class="centered">
                <ion-label color="tertiary">
                  {{ seller.place.name }}
                </ion-label>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-grid class="ion-no-padding">
                <ion-row>
                  <ion-col size="11">
                    <ion-row>
                      <ng-template #filteredtags>
                        <ion-col *ngFor="let t of seller.tags | arraymaxdisplay: tagmax" class="ion-no-padding">
                          <ion-chip color="light" outline="true" class="chip-padding">
                            <ion-label class="chip-label">
                              {{ t.tag }}
                            </ion-label>
                            <ion-icon *ngIf="userSvc.user._id === t.userid" name="close-circle" (click)="removeTag(t, seller._id)">
                            </ion-icon>
                          </ion-chip>
                        </ion-col>
                      </ng-template>
                      <ng-template #unfilteredtags>
                        <ion-col *ngFor="let t of seller.tags" class="ion-no-padding">
                          <ion-chip color="light" outline="true" class="chip-padding">
                            <ion-label class="chip-label">
                              {{ t.tag }}
                            </ion-label>
                            <ion-icon *ngIf="userSvc.user._id === t.userid" name="close-circle" (click)="removeTag(t, seller._id)">
                            </ion-icon>
                          </ion-chip>
                        </ion-col>
                      </ng-template>
                      <ng-container [ngTemplateOutlet]="seller['showalltags'] ? unfilteredtags : filteredtags">
                      </ng-container>
                    </ion-row>
                  </ion-col>
                  <ion-col size="1" *ngIf="seller.tags && seller.tags.length > tagmax && !seller['showalltags']" class="ion-no-padding">
                    <ion-icon name="caret-down-circle-outline" size="large" (click)="seller['showalltags'] = true;"></ion-icon>
                  </ion-col>
                  <ion-col size="1" *ngIf="seller.tags && seller.tags.length > tagmax && seller['showalltags']" class="ion-no-padding">
                    <ion-icon name="caret-up-circle-outline" size="large" (click)="seller['showalltags'] = false;"></ion-icon>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="ion-no-padding">
                    <ion-button *ngIf="!seller['showTagAdd']" color="light" fill="outline" (click)="seller['showTagAdd'] = true" class="ion-float-right">
                      <ion-label>Tag Pub</ion-label>
                      <ion-icon slot="icon-only" name="add"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
                <ng-template [ngIf]="seller['showTagAdd']">
                  <ion-row>
                    <ion-col>
                      <ion-label position="floating">New Tag</ion-label>
                      <ion-input inputmode="text" [(ngModel)]="newtag" maxlength="20"></ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-button color="success" fill="solid" (click)="addTag(newtag, seller._id)" class="ion-float-right">
                        <ion-icon name="paper-plane" slot="icon-only"></ion-icon>
                      </ion-button>
                      <ion-button color="danger" fill="solid" (click)="seller['showTagAdd'] = false;" class="ion-float-right">
                        <ion-icon name="close" slot="icon-only"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ng-template>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ng-template>
    </ion-row>
  </ion-grid>
</ion-content>