<div class="center-form">
    <div class="flex-container">
        <div>
            <form #passForm="ngForm">
                <div class="card">
                    <!-- <div class="card-header bg-primary text-white text-uppercase">
                            <h3>
                                Reset Password
                            </h3>
                        </div> -->
                    <div class="card-body">
                        <div class="row form-group" *ngIf="!resetStarted">
                            <label for="inputPassword" class="col-lg-3 col-form-label font-weight-bold">Email</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="inputEmail" name="email" placeholder="Email"
                                    [(ngModel)]="email" #entryemail="ngModel" required
                                    [class.field-error]="entryemail.touched && entryemail.invalid">
                                <div [hidden]="!entryemail.touched || entryemail.valid"
                                    class="field-error-message alert alert-danger text-muted">Email is required
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="resetStarted">
                            <div class="col-md-12">
                                <div class="field-error-message alert text-muted">
                                    Your password has been reset. Check your email for further instructions.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white" *ngIf="!resetStarted">
                        <button type="submit" class="btn btn-success ml-2 float-right" (click)="resetPassword()"
                            [disabled]="!passForm.touched || passForm.invalid">
                            Reset
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>