// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

:root {
  --ion-font-family: 'Righteous', sans-serif;
  font-family: var(--ion-font-family) !important;
  
  --ion-color-primary: #B24A3B;
  --ion-color-primary-rgb: 178,74,59;
  --ion-color-primary-opaque: #B24A3B80;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #9d4134;
  --ion-color-primary-tint: #ba5c4f;

  --ion-color-secondary: #af9781;
  --ion-color-secondary-rgb: 175,151,129;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #9a8572;
  --ion-color-secondary-tint: #b7a18e;

  --ion-color-tertiary: #E8DE2A;
  --ion-color-tertiary-rgb: 232,222,42;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #ccc325;
  --ion-color-tertiary-tint: #eae13f;

  --ion-color-success: #B24A3B;
  --ion-color-success-rgb: 178,74,59;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #9d4134;
  --ion-color-success-tint: #ba5c4f;

  --ion-color-warning: #007ba7;
  --ion-color-warning-rgb: 0,123,167;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #006c93;
  --ion-color-warning-tint: #1a88b0;

  --ion-color-danger: #568203;
  --ion-color-danger-rgb: 86,130,3;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #4c7203;
  --ion-color-danger-tint: #678f1c;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-white: #ffffff;
}