<ion-item>
  <ion-label>
    {{ message }}
  </ion-label>
  <ion-button slot="end" fill="clear" *ngIf="userSvc.user || sellerSvc.seller" class="cart-button" (click)="toggleMenu()">
    <ion-icon name="menu"></ion-icon>
    <ion-badge id="cart-badge" color="danger" *ngIf="cartSvc.cart?.purchases?.length > 0">{{ cartSvc.cart.purchases.length }}</ion-badge>
  </ion-button>
  <!-- <ion-button slot="end" fill="clear" *ngIf="userSvc.user" class="cart-button" (click)="goToCart()">
    <ion-icon name="cart"></ion-icon>
    <ion-badge id="cart-badge" color="danger" *ngIf="cartCount > 0">{{ cartCount }}</ion-badge>
  </ion-button> -->
</ion-item>
