<div class="modal-header" *ngIf="title || closeOperation">
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" *ngIf="closeOperation" (click)="callCloseOperation()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div [hidden]="!isComponent" #bodycontainer></div>
    <ng-template [ngIf]="isComponent" *ngTemplateOutlet="actualTemplateRef; context: bodyContentData"></ng-template>
</div>
<div class="modal-footer" *ngIf="footerButtons">
    <button *ngFor="let fb of footerButtons" type="button"
        class="btn {{ fb.buttonClass ? fb.buttonClass : 'btn-default' }}" (click)="fb.buttonOperation();">
        {{ fb.buttonText }}
    </button>
</div>