<ion-content id="userContent" color="primary" class="centered">
  <ion-grid>
    <ion-row>
      <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12" >
        <ion-card [routerLink]="['purchase/sellers']" color="primary">
          <ion-card-content class="px-0 pt-0">
            <ion-img src="../../../assets/imgs/user_make_purchase_background.jpg" alt="make a purchase" ></ion-img>
            <ion-card-subtitle>
              <ion-label color="tertiary">
                Make a
              </ion-label>
            </ion-card-subtitle>
            <ion-card-title>
              <ion-label color="tertiary">
                Purchase
              </ion-label>
            </ion-card-title>
          </ion-card-content>
        </ion-card>    
      </ion-col>
      <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12" >
        <ion-card [routerLink]="['purchasehistory']" color="primary">
          <ion-card-content class="px-0 pt-0">
            <ion-img src="../../../assets/imgs/user_purchases.jpg" alt="view purchases" ></ion-img>
            <ion-card-subtitle>
              <ion-label color="tertiary">
                View
              </ion-label>
            </ion-card-subtitle>
            <ion-card-title>
              <ion-label color="tertiary">
                Purchases
              </ion-label>
            </ion-card-title>
          </ion-card-content>
        </ion-card>    
      </ion-col>
      <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
        <ion-card [routerLink]="['cart']" color="primary">
          <ion-card-content class="px-0 pt-0">
            <ion-img src="../../../assets/imgs/user_cart.jpg" alt="view cart" ></ion-img>
            <ion-card-subtitle>
              <ion-label color="tertiary">
                View
              </ion-label>
            </ion-card-subtitle>
            <ion-card-title>
              <ion-label color="tertiary">
                Cart
              </ion-label>
            </ion-card-title>
          </ion-card-content>
        </ion-card>    
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-item class="px-5" lines="none" color="primary" >
    <a [routerLink]="['purchase/sellers']">Make a Purchase</a>
  </ion-item> -->
  <!-- <ion-item class="px-5" lines="none" color="primary" >
    <a [routerLink]="['purchasehistory']">Your Purchases</a>
  </ion-item> -->
  <!-- <ion-item class="px-5" lines="none" color="primary" >
    <a [routerLink]="['cart']">Your Cart</a>
  </ion-item> -->
</ion-content>