<ion-header>
  <ion-toolbar>
    <app-pp-header [message]="userSvc.user ? 'Welcome back ' + userSvc.user.firstname + '!': ''" ></app-pp-header>
  </ion-toolbar>
</ion-header>

<app-pp-menuoptions [usertype]="'user'" ></app-pp-menuoptions>

<ion-content id="userContent">
  <ion-item>
    <a [routerLink]="['purchase/sellers']">Make a Purchase</a>
  </ion-item>
  <ion-item>
    <a [routerLink]="['purchasehistory']">Your Purchases</a>
  </ion-item>
  <ion-item>
    <a [routerLink]="['cart']">Your Cart</a>
  </ion-item>
</ion-content>