<ion-content id="userContent" *ngIf="inactivepurchases" color="primary">
  <ion-grid class="p-5">
    <ion-row>
      <ion-col size-sm="6" size-md="9">
        <ion-item color="primary" lines="none">
          <ion-label position="floating" color="tertiary">Sale Date</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="historyDate" (ionChange)="getPurchasesByDate($event)"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!inactivepurchases || inactivepurchases.length === 0">
      <ion-col>
        <ion-label color="tertiary">
          No purchases found on selected date.
        </ion-label>
      </ion-col>
    </ion-row>
    <ng-template ngFor [ngForOf]="inactivepurchases" let-iap let-i="index">
      <ion-row class="pl-3" [ngClass]="{ 'alternating-row': i % 2 === 0, 'alternating-row-alt': i % 2 !== 0 }">
        <ion-col size="12" class="p-0">
          <ion-grid>
            <ion-row>
              <ion-col size-md="7" size-sm="12" size-xs="12">
                <ion-label color="dark">
                  {{ iap.customername }}:&nbsp;{{ iap.category && iap.category.toLowerCase() === 'beer' ? iap.ingredients[0] : iap.itemname }} - ({{ iap.price | currency }})
                </ion-label>
                <ion-list class="p-0">
                  <ion-item lines="none" *ngIf="iap.instructions">
                    <ion-label><strong>Special Instructions:</strong></ion-label><br />
                    <ion-label>{{ iap.instructions }}</ion-label>
                  </ion-item>
                  <ng-template [ngIf]="!iap.category || iap.category.toLowerCase() !== 'beer'">
                    <ion-item *ngFor="let ing of iap.ingredients" no-border lines="none">
                      <ion-label color="dark" class="lbl-sm">
                        {{ ing }}
                      </ion-label>
                    </ion-item>
                  </ng-template>
                </ion-list>
              </ion-col>
              <ion-col size-md="5" size-sm="12" size-xs="12">
                <ion-grid>
                  <ng-template ngFor [ngForOf]="iap.purchasehistory" let-ph>
                    <ion-row>
                      <ion-col size="6">
                        <ion-label color="dark" class="lbl-sm">
                          {{ ph.purchasestatus }}
                        </ion-label>
                      </ion-col>
                      <ion-col size="6">
                        <ion-label color="dark" class="lbl-sm">
                          {{ ph.statusdate | date: 'M/dd/yyyy h:mm a' }}
                        </ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row *ngIf="ph.message">
                      <ion-col size="12">
                        <ion-label color="dark" class="lbl-sm">
                          {{ ph.message }}
                        </ion-label>
                      </ion-col>
                    </ion-row>
                  </ng-template>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ng-template>
  </ion-grid>
</ion-content>